/* General */

* {	
	color: lightgrey;
	margin: 0;
	padding: 0;
}

::selection {
	background: blue;
}

body {
	background: url("bg-pattern.jpg") fixed;
}

hr {
	max-width: 800px;
	margin: 30px auto;
}

p {
	line-height: 1.5em;
}

.even:after {
  content: "";
  display: table;
  clear: both;
}

.toplink {
	position: absolute;
	right: 0px;
}

.toplink a {
	text-decoration: none;
}

.toplink a:hover {
	text-decoration: underline;
}

/* Title */

.title {
	text-align: center;
	margin-bottom: 40px;
	margin-top: 20px;
}

.title h1 {
	font-size: 50px;
}

/* Navigation */

nav {
	margin: 0 auto;
	text-align: center;
	max-width: 800px;
}

nav ul li {
	display: inline-block;
	width: 6%;
	border-left: 1px solid white;
	transition: all .2s ease-in;
}

nav ul li:first-child {
	border-left: 1px solid white;
	border-bottom-left-radius: 6px; 
	border-top-left-radius: 6px;
}

nav ul li:last-child {
	border-right: 1px solid white;
	border-bottom-right-radius: 6px; 
	border-top-right-radius: 6px;
}

nav ul li:hover {
	color: gray;
	background-color: red;
}

/* Game List */

.gamelist {
	margin: 0 auto;
	position: relative;
	max-width: 800px;
	opacity: .7;
	transition: all .2s ease-in;
}

.gamelist:hover {
	opacity: 1;
}

.gamelist p {
	padding: 10px;
	padding-bottom: 0;
	padding-right: 0;
}

.gamelist figure {
	height: 200px;
	width: 380px;
	margin-top: 20px;
	display: inline-block;
	background-color: pink;
}

.gamelist .imgleft {
	position: relative;
	left: 10px;
}

.gamelist .imgright {
	position: relative;
	right: -30px;
}

.even p {
	width: 380px;
	display: inline-block;
}

.even div {
	float: right;
}

/* Footer */

footer {
	margin: 20px;
	margin-top: 0;
}

/* Resposive Design */

@media screen and (max-width: 840px) {
	h2 {
		text-align: center;
	}

	.gamelist p {
		padding: 10px;
		padding-bottom: 0;
		padding-right: 0;
		text-align: left;
	}

	.gamelist {
		text-align: center;
	}

	.even {
		text-align: left;
	}

	.gamelist figure {
		width: 300px;
	}

	.gamelist div figure {
		position: relative;
		right: 5%;
		width: 300px;
	}
}

@media screen and (max-width: 750px) {
	nav ul li {
		width: 26px;
	}

	.gamelist figure {
		width: 200px;
		height: 120px;
	}

	.even div figure {
		width: 200px;
	}
}

@media screen and (max-width: 650px) {
	.even div figure {
		width: 140px;
	}

	.even p {
		width: 340px;
	}
}

@media screen and (max-width: 500px) {
	.title h1 {
		font-size: 30px;
	}

	nav ul li {
		font-size: 12px;
		width: 10%;
	}

	nav ul li {
		width: 20%;
	}

	nav ul li:first-child {
		border-radius: 0px;
		border-left: 1px solid white;
	}

	nav ul li:last-child {
		border-radius: 0px;
		border-right: 1px solid white;
	}

	.gamelist figure {
		display: none;
	}

	.gamelist p {
		display: block;
		margin: 0 auto;
		width: 80%;
	}
}

@media screen and (max-width: 400px) {
	.title h3 {
		display: none;
	}
}