/* General */

* {	
	color: #F15802;
	margin: 0;
	padding: 0;
}
/*
::selection {
	background: #7C10AD;
}
*/
body {
	font-family: 'Almendra', serif;
	background: url("backgrounds/subtle_carbon.png");
}

hr {
	max-width: 800px;
	margin: 30px auto;
}

p {
	line-height: 1.5em;
	margin-left: 15px;
	margin-right: 15px;
}

.enlarge {
	transition: all .2s ease;
}

.enlarge:hover {
	transform: scale(2);
	-webkit-transform: scale(2);
	z-index: 20;
}

.even:after {
  content: "";
  display: table;
  clear: both;
}

/* "Top" Button */

.toplink {
	position: absolute;
	right: 10px;
	font-size: 14px;
}

.toplink a {
	text-decoration: none;
}

.toplink a:hover {
	text-decoration: underline;
}

/* Title */

.title {
	text-align: center;
	margin-bottom: 40px;
	margin-top: 20px;
}

.title h1 {
	font-size: 50px;
}

/* Navigation */

nav {
	margin: 0 auto;
	text-align: center;
	max-width: 800px;
}

nav ul li {
	display: inline-block;
	width: 6%;
	border-left: 1px solid white;
	transition: all .2s ease-in;
}

nav ul li:first-child {
	border-left: 1px solid white;
	border-bottom-left-radius: 6px; 
	border-top-left-radius: 6px;
}

nav ul li:last-child {
	border-right: 1px solid white;
	border-bottom-right-radius: 6px; 
	border-top-right-radius: 6px;
}

nav ul li:hover {
	background-color: brown;
}

/* Game List */

.gamelist {
	margin: 0 auto;
	position: relative;
	max-width: 800px;
	background-color: black;
}

.gamelist h2 {
	background: url("backgrounds/binding_dark.png");
	opacity: .7;
	padding: 30px 10px;
}

.gamelist p {
	padding: 10px;
	padding-bottom: 0;
	padding-right: 0;
	margin-right: 0;
}

.even p {
	width: 380px;
	display: inline-block;
}

.even div {
	float: right;
}

.gamelist .review {
	padding: 10px;
	padding-bottom: 0;
	padding-right: 0;
	margin: 30px;
	margin-right: 0;
	text-align: left;
	float: none;
	font-size: 14px;
}

.even .review {
	width: 380px;
}

.gamelist .review, .gamelist .review h3, .gamelist .review strong, .gamelist .review h4, .gamelist .review p {
	color: #1BA52C;
}

/* Game List Images */

.gamelist figure {
	height: 200px;
	width: 380px;
	margin-top: 20px;
	display: inline-block;
}

.gamelist .imgleft {
	position: relative;
	left: 10px;
}

.gamelist .imgright {
	position: relative;
	right: -30px;
}

.gamelist div {
	display: inline-block;
	text-align: center;
}

/* Each Games' Images */

.xv div .imgleft {
	background: url("img/xv/xv1.jpg") no-repeat 0 0;
	background-size: auto 100%;
}

.xv div .imgright {
	background: url("img/xv/xv2.jpg") no-repeat 0 0;
	background-size: auto 100%;
}

.xiv div .imgtop {
	background: url("img/xiv/xiv1.jpg") no-repeat 0 0;
	background-size: auto 100%;
}

.xiv div .imgbottom {
	background: url("img/xiv/xiv2.jpg") no-repeat 0 0;
	background-size: auto 100%;
}

.xiii div .imgleft {
	background: url("img/xiii/xiii1.jpg") no-repeat 0 0;
	background-size: auto 100%;
}

.xiii div .imgright {
	background: url("img/xiii/xiii2.jpg") no-repeat 0 0;
	background-size: auto 100%;
}

.xii div .imgtop {
	background: url("img/xii/xii2.jpg") no-repeat 0 0;
	background-size: auto 100%;
}

.xii div .imgbottom {
	background: url("img/xii/xii1.jpg") no-repeat 0 0;
	background-size: auto 100%;
}

.xi div .imgleft {
	background: url("img/xi/xi1.jpg") no-repeat 0 0;
	background-size: auto 100%;
}

.xi div .imgright {
	background: url("img/xi/xi2.jpg") no-repeat 0 0;
	background-size: auto 100%;
}

.x div .imgtop {
	background: url("img/x/x1.jpg") no-repeat 0 0;
	background-size: auto 100%;
}

.x div .imgbottom {
	background: url("img/x/x2.jpg") no-repeat 0 0;
	background-size: auto 100%;
}

.ix div .imgleft {
	background: url("img/ix/ix1.jpg") no-repeat 0 0;
	background-size: auto 100%;
}

.ix div .imgright {
	background: url("img/ix/ix2.jpg") no-repeat 0 0;
	background-size: auto 100%;
}

.viii div .imgtop {
	background: url("img/viii/viii1.jpg") no-repeat 0 0;
	background-size: auto 100%;
}

.viii div .imgbottom {
	background: url("img/viii/viii2.jpg") no-repeat 0 0;
	background-size: auto 100%;
}

.vii div .imgleft {
	background: url("img/vii/vii1.jpg") no-repeat 0 0;
	background-size: auto 100%;
}

.vii div .imgright {
	background: url("img/vii/vii2.jpg") no-repeat 0 0;
	background-size: auto 100%;
}

.vi div .imgtop {
	background: url("img/vi/vi2.jpg") no-repeat 0 0;
	background-size: auto 100%;
}

.vi div .imgbottom {
	background: url("img/vi/vi1.jpg") no-repeat 0 0;
	background-size: auto 100%;
}

.v div .imgleft {
	background: url("img/v/v1.jpg") no-repeat 0 0;
	background-size: auto 100%;
}

.v div .imgright {
	background: url("img/v/v2.jpg") no-repeat 0 0;
	background-size: auto 100%;
}

.iv div .imgtop {
	background: url("img/iv/iv1.jpg") no-repeat 0 0;
	background-size: auto 100%;
}

.iv div .imgbottom {
	background: url("img/iv/iv2.jpg") no-repeat 0 0;
	background-size: auto 100%;
}

.iii div .imgleft {
	background: url("img/iii/iii1.jpg") no-repeat 0 0;
	background-size: auto 100%;
}

.iii div .imgright {
	background: url("img/iii/iii2.jpg") no-repeat 0 0;
	background-size: auto 100%;
}

.ii div .imgtop {
	background: url("img/ii/ii1.jpg") no-repeat 0 0;
	background-size: auto 100%;
}

.ii div .imgbottom {
	background: url("img/ii/ii2.jpg") no-repeat 0 0;
	background-size: auto 100%;
}

.i div .imgleft {
	background: url("img/i/i1.jpg") no-repeat 0 0;
	background-size: auto 100%;
}

.i div .imgright {
	background: url("img/i/i2.jpg") no-repeat 0 0;
	background-size: auto 100%;
}

.gamelist div .image {
	background-position: right;
}

.gamelist div .image.imgleft {
	background-position: left;
}

/* Slider/Carousel */

.carousel {
	/*width: 600px;
	height: 400px;
	margin: 0 auto;*/

}

input, textarea { font-family: Arial; font-size: 125%; padding: 7px; }
label { display: block; } 

.infiniteCarousel {
  width: 800px;
  position: relative;
  margin: 0 auto;
}

.infiniteCarousel .wrapper {
  width: 640px; /* .infiniteCarousel width - (.wrapper margin-left + .wrapper margin-right) */
  overflow: auto;
  min-height: 10em;
  margin: 0 80px;
  position: absolute;
  top: 0;
}

.infiniteCarousel ul a img {
  border: 5px solid #000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.infiniteCarousel .wrapper ul {
  width: 9999px;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0;
  padding:0;
  position: absolute;
  top: 0;
}

.infiniteCarousel ul li {
  display:block;
  float:left;
  padding: 20px;
  height: 135px;
  width: 135px;
}

.infiniteCarousel ul li img {
  display:block;
}

.infiniteCarousel .arrow {
  display: block;
  height: 36px;
  width: 37px;
  background: url("img/carousel/arrow.png") no-repeat 0 0;
  text-indent: -999em;
  position: absolute;
  top: 37px;
  cursor: pointer;
}

.infiniteCarousel .forward {
  background-position: 0 0;
  right: 0;
}

.infiniteCarousel .back {
  background-position: 0 -72px;
  left: 0;
}

.infiniteCarousel .forward:hover {
  background-position: 0 -36px;
}

.infiniteCarousel .back:hover {
  background-position: 0 -108px;
}

/* Footer */

footer {
	padding-bottom: 20px;
	margin: 20px;
	margin-top: 0;
	position: relative;
	bottom: -160px;
}

.footerhr {
	position: relative;
	top: 180px;
}

/* Resposive Design */

@media screen and (max-width: 840px) {
	h2 {
		text-align: center;
	}

	.toplink {
		margin-right: 30px;
	}

	.gamelist p {
		padding: 10px;
		padding-bottom: 0;
		padding-right: 0;
		text-align: left;
		margin-right: 0;
	}

	.gamelist {
		text-align: center;
	}

	.even {
		text-align: left;
	}

	.gamelist div figure {
		position: relative;
		right: 0;
		left: 0;
		width: 300px;
	}

	.gamelist .imgleft {
		left: 0;
	}

	.infiniteCarousel {
		width: 400px;
	}

	.infiniteCarousel .wrapper {
		width: 240px;
		margin: 0 74px;
	}
}

@media screen and (max-width: 750px) {
	nav ul li {
		width: 26px;
	}

	.gamelist figure {
		width: 200px;
		height: 120px;
	}

	.even div figure {
		width: 200px;
	}

	.xv div .imgright {
		background-position: right;
	}

}

@media screen and (max-width: 650px) {
	.even div figure.image{
		width: 140px;
		background-position: center;
	}

	.even p {
		width: 340px;
	}

	.gamelist div figure.image {
		width: 200px;
		background-position: center;
	}
}

@media screen and (max-width: 590px) {
	.even div figure {
		width: 120px;
	}
}

@media screen and (max-width: 500px) {
	.title h1 {
		font-size: 30px;
	}

	nav ul li {
		font-size: 12px;
		width: 10%;
	}

	nav ul li {
		width: 20%;
	}

	nav ul li:first-child {
		border-radius: 0px;
		border-left: 1px solid white;
	}

	nav ul li:last-child {
		border-radius: 0px;
		border-right: 1px solid white;
	}

	.gamelist figure {
		display: none;
	}

	.gamelist p {
		display: block;
		margin: 0 auto;
		width: 80%;
	}
}

@media screen and (max-width: 400px) {
	.title h3 {
		display: none;
	}
}